<%= form_for(@ad, :html => {class: 'form-horizontal'}) do |f| %>
  <% if @ad.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@ad.errors.count, 'error') %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Legend</legend>

  <div class='form_group'>
    <%= f.label :title, class: 'col-lg-2 control-label' %>
    <div class='col-lg-10'>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class='form_group'>
    <%= f.label :description, class: 'col-lg-2 control-label' %>
    <div class='col-lg-10'>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
    
  <div class='form_group'>
    <%= f.label :price, class: 'col-lg-2 control-label' %>
    <div class='col-lg-10'>
      <%= f.text_field :price, class: 'form-control' %>
    </div>
  </div>
    
  <div class='form_group'>
    <%= f.label :address, class: 'col-lg-2 control-label' %>
    <div class='col-lg-10'>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>
    
  <div class='form_group'>
    <%= f.label :category_id, 'Category', class: 'col-lg-2 control-label' %>
    <div class='col-lg-10'>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: 'None'}, class: 'form-control') %>
    </div>
  </div>
  <div class='form_group'>
    <div class='col-lg-10 col-lg-offset-2'>
      <%= f.submit %>
     </div>
  </div>
</fieldset>
<% end %>




