<h1>Listing ads</h1>

<table class="table table-striped table-hover" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Address</th>
      <% if logged_in? %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.title %></td>
        <td><%= ad.description %></td>
        <td><%= ad.price %></td>
        <td><%= ad.address %></td>
        <% if logged_in? %>
          <td><%= link_to 'Edit', edit_user_ad_path(current_user,ad) %></td>
          <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in? %>
  <%= link_to 'New Ad', new_user_ad_path(current_user) %>
<% end %>
