<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ad.address %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_user_ad_path(current_user, @ad) %> |
  <%= link_to 'Back', user_ads_path(current_user) %>
<% else %>
  <%= link_to 'Back', ads_path %>
<% end %>
